body {
    color: white;
    background: black;
    margin: 50px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(32, 7, 54);
    padding: 10px;
    font-size: 32px;
    color: rgb(7, 92, 95);
}

.chamada {
    background: rgb(32, 7, 54);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 32px;
}

p{
    font-size: 20px;
}

.selecao-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.selecao {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

}

.selecao-videos img {
    opacity: 0.5;
    height: 300px;
}

.selecao-videos img:hover {
    opacity: 1.0;
    border: 1px solid red;
}

.selecao h2 {
    color: rgb(197, 25, 25);
}
